Repository grendel-consulting/corporate-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, security

chore(deps): update dependency flow-bin to v0.134.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency flow-bin to v0.134.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency start-server-and-test to v1.11.4
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency start-server-and-test to v1.11.4
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency gatsby-plugin-robots-txt to v1.5.2
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency snyk to v1.398.1
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency gatsby-plugin-robots-txt to v1.5.2
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency snyk to v1.398.1
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): patch resolution for node-forge
  .snyk
  package.json
  yarn.lock
Labels: dependencies, security

chore(deps): pin resolutions for vulnerable packages
  package.json
  yarn.lock
Labels: dependencies

chore: patches from snyk
  .snyk
Labels: security

chore(deps): update dependency stylelint to v13.7.2
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency stylelint to v13.7.2
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update storybook monorepo to v6.0.22
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update storybook monorepo to v6.0.22
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint to v7.10.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint-plugin-react to v7.21.2
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint to v7.10.0
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency gatsby-plugin-robots-txt to v1.5.3
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency snyk to v1.401.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint-plugin-react to v7.21.2
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency gatsby-plugin-robots-txt to v1.5.3
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency snyk to v1.401.0
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency cypress to v5.3.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency cypress to v5.3.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency flow-bin to v0.135.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency flow-bin to v0.135.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency start-server-and-test to v1.11.5
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency start-server-and-test to v1.11.5
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update storybook monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update storybook monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency @storybook/addons to v6.0.25
  package.json
  yarn.lock
Labels: dependencies

.github/labeler.yml:

dependencies:
  - yarn.lock

security:
  - .snyk
