Repository grendel-consulting/corporate-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, security

chore(deps): update dependency snyk to v1.251.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint to v6.7.1
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint to v6.7.1
  package.json
  yarn.lock
Labels: dependencies

chore(toolchain): Configure second layer of secrets detection, take two
  .github/workflows/secrets-finder.yml
Labels: none

chore(toolchain): Ensure GITHUB_WORKSPACE is populated
  .github/workflows/secrets-finder.yml
Labels: none

chore(release): 0.2.11
  CHANGELOG.md
  package.json
Labels: none

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency lint-staged to v9.5.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency lint-staged to v9.5.0
  package.json
  yarn.lock
Labels: dependencies

chore(toolchain): Gatsby plugin for Flow
  package.json
  yarn.lock
Labels: dependencies

fix(deps): pin dependency gatsby-plugin-flow to 1.1.15
  package.json
  yarn.lock
Labels: dependencies

fix(deps): pin dependency gatsby-plugin-flow to 1.1.15
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint-plugin-react to v7.17.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint-plugin-react to v7.17.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency snyk to v1.254.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency snyk to v1.254.0
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency @styled-system/prop-types to v5.1.4
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency styled-system to v5.1.4
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency @styled-system/prop-types to v5.1.4
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency flow-bin to v0.113.0
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency styled-system to v5.1.4
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency flow-bin to v0.113.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update babel monorepo to v7.7.5
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update babel monorepo to v7.7.5
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint to v6.7.2
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint to v6.7.2
  package.json
  yarn.lock
Labels: dependencies

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

fix: .snyk & package.json to reduce vulnerabilities
  .snyk
  package.json
Labels: security

fix(deps): update dependency auth0-js to v9.12.0
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency auth0-js to v9.12.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency flow-bin to v0.114.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency flow-bin to v0.114.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint-config-react-app to v5.1.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint-plugin-import to v2.19.1
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint-config-react-app to v5.1.0
  package.json
  yarn.lock
Labels: dependencies

.github/labeler.yml:

dependencies:
  - yarn.lock

security:
  - .snyk
