Repository grendel-consulting/corporate-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, security

.github/labeler.yml:

dependencies:
  - yarn.lock

security:
  - .snyk

Update dependency snyk to v1.311.0
  package.json
  yarn.lock
Labels: dependencies

Update dependency eslint-plugin-no-secrets to v0.6.8
  package.json
  yarn.lock
Labels: dependencies

Update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

Update dependency snyk to v1.311.0
  package.json
  yarn.lock
Labels: dependencies

Update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

Update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

Update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

Update dependency cypress to v4.5.0
  package.json
  yarn.lock
Labels: dependencies

Update dependency lint-staged to v10.2.0
  package.json
  yarn.lock
Labels: dependencies

Update dependency cypress to v4.5.0
  package.json
  yarn.lock
Labels: dependencies

Update dependency lint-staged to v10.2.0
  package.json
  yarn.lock
Labels: dependencies

Update jest monorepo to v25.5.0
  package.json
  yarn.lock
Labels: dependencies

Update jest monorepo to v25.5.0
  package.json
  yarn.lock
Labels: dependencies

Update dependency @babel/core to v7.9.6
  package.json
  yarn.lock
Labels: dependencies

Update jest monorepo
  package.json
  yarn.lock
Labels: dependencies

Update jest monorepo
  package.json
  yarn.lock
Labels: dependencies

fix: .snyk & package.json to reduce vulnerabilities
  .snyk
Labels: security

fix: .snyk & package.json to reduce vulnerabilities
  package.json
Labels: none

Update dependency lint-staged to v10.2.1
  package.json
  yarn.lock
Labels: dependencies

Update dependency lint-staged to v10.2.1
  package.json
  yarn.lock
Labels: dependencies

Update dependency jest to v25.5.3
  package.json
  yarn.lock
Labels: dependencies

Update dependency jest to v25.5.3
  package.json
  yarn.lock
Labels: dependencies

Update dependency lint-staged to v10.2.2
  package.json
  yarn.lock
Labels: dependencies

Update dependency lint-staged to v10.2.2
  package.json
  yarn.lock
Labels: dependencies

Update dependency jest to v25.5.4
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency gatsby-cli to v2.12.5
  package.json
  yarn.lock
Labels: dependencies

fix(deps): Patch SNYK-JS-LODASH-567746 with Snyk Protect
  .snyk
  package.json
  yarn.lock
Labels: dependencies, security

fix(deps): pin dependency snyk to 1.316.2
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency snyk to v1.317.0
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint-plugin-react-hooks to v4
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update dependency snyk to v1.317.0
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update jest monorepo to v26
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update jest monorepo to v26
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency flow-bin to v0.124.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency flow-bin to v0.124.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update jest monorepo to v26.0.1
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Labels: dependencies
